/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_toggle_win_layer {
            timeout-ms = <50>;
            key-positions = <28 31>;
            bindings = <&tog 3>;
        };
        combo_enter {
            timeout-ms = <50>;
            key-positions = <15 20>;
            bindings = <&kp RET>;
        };
    };
    behaviors {
        td0: TDQ1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp Q>, <&kp N1>;
        };
        td1: TDW2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp W>, <&kp N2>;
        };
        td2: TDE3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp E>, <&kp N3>;
        };
        td3: TDR4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp R>, <&kp N4>;
        };
        td4: TDT5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp T>, <&kp N5>;
        };
        td5: TDY6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp Y>, <&kp N6>;
        };
        td6: TDU7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp U>, <&kp N7>;
        };
        td7: TDI8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp I>, <&kp N8>;
        };
        td8: TDO9 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp O>, <&kp N9>;
        };
        td9: TDP0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp P>, <&kp N0>;
        };
        td10: TDV_COPY {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp V>, <&kp LG(C)>;
        };
        td11: TDB_PASTE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp B>, <&kp LG(V)>;
        };
        td12: TDG_SAVE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp G>, <&kp LG(S)>;
        };
        td13: TDS_LEFT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp S>, <&kp LEFT>;
        };
        td14: TDF_RIGHT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp F>, <&kp RIGHT>;
        };
        td15: TDD_UP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp D>, <&kp UP>;
        };
        td16: TDC_DOWN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp C>, <&kp DOWN>;
        };
        td17: TDJ_LPAREN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp J>, <&kp LPAR>;
        };
        td18: TDK_RPAREN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp K>, <&kp RPAR>;
        };
        td19: TDN_LBKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp N>, <&kp LBKT>;
        };
        td20: TDM_RBKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp M>, <&kp RBKT>;
        };
        td21: TDCOMMA_LBRC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp COMMA>, <&kp LBRC>;
        };
        td22: TDDOT_RBRC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp DOT>, <&kp RBRC>;
        };
        td23: TDH_MINUS {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp H>, <&kp MINUS>;
        };
        td24: TDL_PLUS {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp L>, <&kp PLUS>;
        };
        td25: TDV_CTRLC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp V>, <&kp LC(C)>;
        };
        td26: TDB_CTRLV {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp B>, <&kp LC(V)>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
   &kp TAB   &td0  &td1  &td2   &td3   &td4                        &td5   &td6   &td7      &td8   &td9    &kp BSPC
   &kp LCTRL &kp A &td13 &td15  &td14  &td12                       &td23  &td17  &td18     &td24  &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &td16  &td10  &td11                       &td19  &td20  &td21     &td22  &kp FSLH &kp ESC
                         &kp LGUI &mo 2 &sk LSHIFT                &sk LSHFT &kp SPACE &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        win_layer {
            bindings = <
   &kp TAB   &td0  &td1  &td2   &td3   &td4                        &td5   &td6   &td7      &td8   &td9    &kp BSPC
   &kp LCTRL &kp A &td13 &td15  &td14  &td12                       &td23  &td17  &td18     &td24  &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &td16  &td25  &td26                       &td19  &td20  &td21     &td22  &kp FSLH &kp ESC
                         &kp LCTRL &mo 2 &kp TAB                  &sk LCTRL &kp SPACE &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            bindings = <
   &kp TAB   &kp N1    &kp N2   &kp N3   &kp N4    &kp N5                &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &kp EQUAL
   &none     &none     &kp LEFT &kp UP   &kp RIGHT &none                 &mo 3    &kp LPAR &kp RPAR &none    &kp COLON &to 1
   &kp LSHFT &kp LSHFT &none    &kp DOWN &kp LG(C) &kp LG(V)             &kp LBKT &kp RBKT &kp LBRC &kp RBRC &none     &kp ESC
                                &kp LGUI &none    &sk LSHFT             &kp BSPC &kp SPACE &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            bindings = <
   &kp TAB        &kp EXCL &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &kp PRCNT     &kp CARET &ext_power EP_TOG &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL      &none    &none      &none        &none        &none         &kp MINUS &kp EQUAL         &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &studio_unlock &none    &none      &none        &none        &none         &kp UNDER &kp PLUS          &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                                      &kp LGUI     &none        &kp SPACE     &kp RET   &none             &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        
    };
};